 <system.webServer>
    <modules>
      <remove name="FormsAuthentication" /> //remove this
    </modules>
  </system.webServer>
<system.web>
    <authentication mode="Forms">
      <!--defaultUrl：登入後到哪一頁，loginUrl：使用者未登入的話，要導至哪一頁-->
      <forms defaultUrl="~/Home/Index/" loginUrl="~/Members/Login/" timeout="30" />
    </authentication>
  </system.web>
